name: Build plugin
on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[ci-skip]')"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build plugin
        run: ./gradlew --no-daemon --stacktrace

      - name: Upload plugin JAR
        uses: actions/upload-artifact@v4
        with:
          name: Quests
          path: |
            build/libs/*.jar
            !build/libs/*-downgraded-*.jar
          if-no-files-found: error

      - name: Upload downgraded JARs
        uses: actions/upload-artifact@v4
        with:
          name: Quests-Legacy
          path: build/libs/*-downgraded-*.jar
          if-no-files-found: error
